body {
	background-image:url(IMAGES/afull.jpg);
}
#aa3 {
	font-size:30px;
	font-family:Calibri;
	text-align:center;
}
#a1 {
	background-color: #A0AFDB;
	border:3px solid black;
	padding:10px;
	border-radius:30px;
}
.painting {
	transition: 1s transform;
}
.painting:hover {
	transform:scale(1.01);
}
a {
	padding:15px;
	margin:15px;
	font-size:30px;
	background-color: #A0AFDB;
	border:3px solid black;
	border-radius:30px;
}
p {
	font-size:36px;
	font-family:Arial;
	border:3px solid black;
	background-color: #FFDB00;
	padding-left:10px;
}
a:hover{
	color:red;
}